<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TeacherEvaluationMapper">

    <select id="queryTeacherEvaluationList" parameterType="String"  resultType="TeacherEvaluation">
        select *  from teacher_evaluation
    </select>
    <insert id="insertTeacher"  >
        insert into teacher_evaluation(T_evaluate_id,Course_name,Stu_name,State,T_Content,Teacher_id,Stu_id) values(#{Evaluate_id},#{Course_name},#{Stu_name},#{State},#{Content},#{Teacher_id},#{Stu_id})
    </insert>
    <update id="updateTeacher">
        update teacher_evaluation set
                                      State = #{State},
                                      T_Content =#{Content}

        where T_evaluate_id = #{Evaluate_id}
    </update>
    <delete id="deleteTeacher">
        delete  from  teacher_evaluation where T_evaluate_id =#{Evaluate_id};
    </delete>
</mapper>