<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
    <select id="loginPage" parameterType="String" resultType="User">
        select account from User where account=#{0} and password=#{1}
    </select>
    <insert id="insertUser" parameterType="String">
        insert into User (account,password) values(#{account},#{password})
    </insert>
    <select id="queryUserList" resultType="User">
        select * from User
    </select>
    <select id="queryUserByName" parameterType="String" resultType="User">
        select * from User where account = #{name}
    </select>
</mapper>